$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$fourth-color:#ECE8EE;
$fifth-color: #F9F9F2;
$primary-font:'Shrikhand', cursive;
$secondary-font:'Roboto', sans-serif;
$primary-width: 100%;
$secondary-width:40%;
$display:inline-block;
$font-size:1.5em;
$second-font-size:large;
$gradient:linear-gradient(180deg, $secondary-color, $primary-color);

